---
import siteConfig from '../data/site-config';
import NavLink from './NavLink.astro';
import ThemeToggle from './ThemeToggle.astro';

const navLinks = siteConfig.headerNavLinks ?? [];
---

<nav class="relative min-h-10 pt-4 pb-12 sm:min-h-14 sm:pb-24 md:pt-8" aria-label="Primary navigation">
    {
        navLinks.length > 0 && (
            <div class="relative mx-auto w-full max-w-3xl">

                 <!-- Added site name / brand -->
                 <div class="mb-6">
                <a 
                    href="/" 
                    class="text-main  text-xl md:text-xl font-bold "
                >
                    悟 Goku
                </a>
                 </div>

                <ul
                    id="menu-items"
                    class="flex gap-6 "
                >
                    {navLinks.map((link) => (
                        <li class="py-1">
                            <NavLink
                                class="text-main  text-sm hover:underline hover:decoration-1 hover:underline-offset-2 md:text-base"
                                href={link.href}
                            >
                                {link.text}
                            </NavLink>
                        </li>
                    ))}
                </ul>
            </div>
        )
    }
    <div class="absolute top-4 right-0 z-10 md:top-8">
        <ThemeToggle />
    </div>
</nav>
