---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../assets/icons/arrow-right.svg';
import FormattedDate from './FormattedDate.astro';

type Props = { post: CollectionEntry<'blog'>; class?: string; headingLevel?: 'h3' | 'h5' };

const { post, class: className, headingLevel = 'h3' } = Astro.props;
const { title, publishDate, updatedDate, excerpt } = post.data;
const TitleTag = headingLevel;
---

<a class:list={['group flex items-start justify-between gap-8', className]} href={`/blog/${post.id}/`}>
<div class="grow">
  <div class="flex items-center justify-between">
    <TitleTag
      class="font-sans text-sm leading-tight group-hover:text-slate-500 sm:text-sm"
    >
      {title}
    </TitleTag>

    <div class="text-xs leading-normal ml-4 whitespace-nowrap">
      <FormattedDate date={publishDate} />
      {updatedDate && (
        <span>
          {' '} (Updated on <FormattedDate date={updatedDate} />)
        </span>
      )}
    </div>
  </div>
</div>

    
</a>
